body {
    background-color: #FFF;
    background-image: url(back/home_bg.jpg);
    color: #000;
}

h1,
h2 {
    text-align: center;
}

label {
    font-weight: 700;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.bullets-none {
    list-style-type: none;
}

.bullets-dragon {
    list-style-image: url(inline/dragon5.gif);
}

.bullets-dragon li {
    font-size: 17px;
    font-weight: 700;
    padding: 4px 0;
}

.hr-ankh {
    background:url(inline/hrankh4.gif) no-repeat top left;
    border: 0;
    display: block;
    height: 14px;
}

.link-img {
    border: 0;
    text-decoration: none;
}

.column {
    float: left;
    width: 200px;
}

.form-group-inline {
    display: inline;
}

#form-join p {
    margin: 0 0 10px 0;
}
